<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4 - Productos</title>
    <link rel="stylesheet" href="http://localhost:3000/css/estilos.css">
    <script src="js/script.js" defer></script>
    <script src="js/scriptBlur.js" defer></script>
    <script src="https://kit.fontawesome.com/e6060c4e37.js" crossorigin="anonymous"></script>
</head>
<body>
<h1>Editar productos</h1>
<div class="contenedor">
    <form action="/editarProducto" method="post" id="formulario">
        <input type="hidden" value="<%= idproducto %>" name="idproducto" id="idproducto" >
        
        <label for="nombre">Nombre: </label> <span class="errorNombre ocultar">Nombre no valido</span>
        <input type="text" value="<%= nombre %>" class="" autofocus name="nombre" id="nombre" placeholder="Nombre" /><span></span>
        <i class="fa-solid fa-xmark ocultar xmarkErrorNombre correctoInput"></i>
        <i class="fa-solid fa-check checkMarkNombre ocultar"></i>

        <label for="categoria">Categoria: </label> <span class="errorCategoria ocultar">Categoria no valida</span>
        <input value="<%= categoria %>" name="categoria" id="categoria" type="text" placeholder="Categoria"><span></span>
        <i class="fa-solid ocultar fa-xmark xmarkErrorCategoria correctoInput"></i>
        <i class="fa-solid fa-check checkMarkCategoria ocultar"></i>

        <label for="descripcion">Descripcion: </label> <span class="errorDescripcion ocultar">Descripcion no valida</span>
        <input value="<%= descripcion %>"  name="descripcion" id="descripcion" type="text" placeholder="Descripcion"><span></span>
        <i class="fa-solid fa-xmark ocultar xmarkErrorDescripcion correctoInput"></i>
        <i class="fa-solid fa-check checkMarkDescripcion ocultar"></i>

        <button type="submit">Editar producto</button>
    </form>
</div>

<%- include("templates/footer") %>