<%- include("templates/header") %>

<h1>Tus datos son:</h1>
<h4>Producto: <%= nombre %></h4>
<h4>Categoria:<%= categoria %></h4>
<h4>Descripcion: <%= descripcion %></h4>

<%- include("templates/footer") %>