<<<<<<< HEAD
<%- include("templates/header") %>

<h1>Tus datos son:</h1>
<h4>Nombre: <%= nombre%></h4>
<h4>Celular:<%= celular%></h4>
<h4>Correo: <%= correo%></h4>

<a href="/"> Tabla de usuarios </a>
=======
<%- include("templates/header") %>

<h1>Tus datos son:</h1>
<h4>Nombre: <%= nombre%></h4>
<h4>Celular:<%= celular%></h4>
<h4>Correo: <%= correo%></h4>

>>>>>>> 2bcf9ef260450b658da6e2fcab87e55e51e9196c
<%- include("templates/footer") %>