<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 4 - Usuarios y Productos </title>
    <link rel="stylesheet" href="https://productos-y-usuarios-enlace-bd.onrender.com/css/estilosTabla.css">
</head>
<body>
    <h1>Usuarios</h1>
    <div class="navigation">
        <a href="/">Tabla de usuarios</a>
        <a href="/productos">Tabla de productos</a>
    </div>
    <div class="contenedor">
    <table>
        <thead>
            <tr>
                <th>ID</th> 
                <th>Personaje</th>
                <th>Celular</th>
                <th>Correo</th>
                <th>Editar / Borrar</th>
            </tr>
        </thead>
        <tbody>
            <%
            usuariosCorrectos.forEach((usuario)=>{
                %>
                <tr>
                    <td><%= usuario.idusuario %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.celular %></td>
                    <td><%= usuario.correo %></td>
                    <td>
                        <a href="/editarUsuario/<%= usuario.idusuario %>">Editar / </a>
                        <a href="/borrarUsuario/<%= usuario.idusuario %>">Borrar</a>
                    </td>
                </tr>
                <%
                });
                %>
            </tbody>
        </table>    
    </div>
    <div class="container">
    <a href="/agregarUsuario" class="button"></a>Agregar nuevo usuario</a>
    </div>
</body>
</html>